.root {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  .title {
    padding: 10px 15px;
    margin-bottom: 15px;
    border-top: 3px solid #2527a9;

    h2 {
      font-weight: 500;
    }

    p {
      font-weight: 400;
    }
  }
}
