.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 0;
  margin-bottom: 40px;

  .title {
    padding: 10px 15px;
    margin-bottom: 15px;
    border-top: 3px solid #2527a9;

    h2 {
      font-weight: 500;
    }

    p {
      font-weight: 400;
    }
  }

  .submitBtn {
    float: right;
    margin-left: auto;
    width: 100px;
  }
}
