.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 0;
  margin-bottom: 40px;

  .submitBtn {
    float: right;
    margin-left: auto;
    width: 100px;
    margin-bottom: 60px;
  }
}
